body {
  margin: 0;
  padding: 2.625rem 7.1875rem;
  box-sizing: border-box;
}

/* Header */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  text-decoration: none;
  color: #181818;
}

.nav-link + .nav-link {
  margin-left: 5.25rem;
}

.brand-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
  color: #181818;
}

.search-button {
  background-color: #181818;
  margin-left: 5.25rem;
  padding: 1.375rem;
  border: 0;
  cursor: pointer;
}

.search-button > img {
  width: 1.25rem;
  height: 1.25rem;
}

/* Main */
main {
  margin-top: 8.4375rem;
  display: flex;
  justify-content: space-between;
}

.slide {
  display: flex;
}

.slide-progress {
  margin-top: 6.75rem;
  margin-right: 10.9375rem;
}

.slide-dot {
  background-color: rgba(24, 24, 24, 0.4);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}

.slide-dot + .slide-dot {
  margin-top: 1.25rem;
}

.slide-dot-active {
  background-color: #181818;
}

.slide-item-date {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #181818;
}

.slide-item-date > span {
  padding: 0 0.35rem;
  font-weight: 600;
}

.slide-item-title {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4.375rem;
  margin-top: 1.25rem;
  color: #181818;
}

aside {
  width: 22rem;
  margin-right: 4.25rem;
}

.aside-section + .aside-section {
  margin-top: 3.125rem;
}

.aside-title {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #181818;
}

.aside-content {
  display: block;
  margin-top: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: rgba(24, 24, 24, 0.8);
  line-height: 25px;
}

.aside-button {
  border: 0;
  width: 100%;
  margin-top: 3.75rem;
  background-color: #181818;
  padding: 0.75rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
